$fdm-black: #000;
$fdm-white: #fff;
$fdm-blue: #1daded;
$fdm-grey: #a9a7b2;
$fdm-lg_grey: #e4e4e8;
$fdm-beige: #f8f8f8;
$fdm-verylightgrey:#fafafa;
$fdm-dk-grey:#333333;
$brand-color-lg_grey: #e0e0e0;
$brand-color-head-foot: #202025;
$brand-blog-font: #9e9e9e;

/* social media colours */
$facebook-color: #3B5998;
$twitter-color: #52B3F3;
$Youtube-color: #FF0000;
$Instagram-color: #3B5998;
$linkedin-color: #0077B5;
